#signup-link, #forgot-password-link {
  color: black;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
}

form {
  margin-top: 2em;
}

.map-container {
  width: 100%;
  height: 300px;
  margin-bottom: 1em;
}

.card {
  margin: 1em 0;
}

.card-image {
  max-width: 800px;
  margin: 0 auto;
}

/* "-green" is an unfortunate choice of name - https://github.com/juliancwirko/meteor-s-alert/issues/10 */
.s-alert-green.s-alert-effect-bouncyflip {
  min-width: 100%;  /* workaround for lack of full-width alerts: https://github.com/juliancwirko/meteor-s-alert/issues/9 */
}
