img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
}

form {
  margin-top: 2em;
}

#baidu-map {
  height: 400px;
}

.map-container {
  width: 100%;
  height: 500px;
}

.card {
  margin: 1em 0;
}